.nav{width:990px;height:38px;font-weight: bold;font-size: 14px;background: #00aadd;border-bottom:2px solid #208181;margin:0 auto;}
.nav ul{width: 990px;margin:0;}
.nav li{float: left;height: 38px;text-align: center;line-height: 38px;margin: 0 auto 10px;}
.nav li h2{font-family:"Î¢ÈíÑÅºÚ","ËÎÌå";font-size:16px;}
.nav a{width: 90px;display:inline-block;text-decoration: none;color: white;text-align: center;position: relative;}
.nav a:hover{text-decoration: none;background: #3D9D9D;color: #fff;}
.nav .current{background: #208181;top:-4px;height: 42px;line-height: 46px;_top:0;_margin-top: -4px;_height:42px;_line-height:42px;}
/* basic */
* { margin: 0; padding: 0; list-style: none; outline:0;}
body { font-size: 12px; color: #333; font-family: Arial, Helvetica, sans-serif; background: #f5f5f5;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
address, caption, cite, code, dfn, em, strong, th, var, i, b, time, small { font-weight: normal; font-style: normal; }
ul, ol, li { list-style: none; }
fieldset, img { border: 0px; }
hr { height: 2px; border: 2px solid #00aadd; clear: both; margin: 5px 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
a { color: #333; text-decoration: none; outline: none; blr: expression(this.onFocus=this.blur()); }
a:hover { color: #00aadd; text-decoration: underline; }
a.green, a.green:link, a.green:visited, a.green:active { color: #129151; }
.clr, .clrfix { clear: both; overflow: hidden; font-size: 0; line-height: 0; height: 0px; }
.clrfix { height: 10px; }
.fix, .lm { white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; }
.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.t10 { margin-top: 10px; }
/* table */
table { border-collapse: collapse; border-spacing: 0; }
table.fix { table-layout: fixed; }
table.fix td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
table.grid { border-collapse: collapse; padding: 3px; margin: auto; }
table.grid caption, .gridtop { border-bottom: 1px solid #ddd; border-bottom: 0; vertical-align: middle; text-align: center; padding: 6px 3px; background: #fff; color: #129151; font-weight: bold; font-size: 14px; margin: auto; }
table.grid th, .head { background: #fff; border-top: 1px solid #ddd;text-align: center; font-size: 12px; padding: 6px 3px; }
table.grid td { border-top: 1px solid #ddd; padding: 6px 3px; background-color: #ffffff !important; }
table.hide, table.hide th, table.hide td { border: 0; }
/* table add-ons */
td.title { background: #ddd; text-align: center; padding: 3px; font-weight: bold; font-size: 14px; }
.even { background: #ffffff; padding: 3px; }
.odd { background: #ffffff; padding: 3px; }
.foot { background: #ddd; padding: 3px; text-align: center; }
.bottom { height: 9px; background: #ddd; }
/* form */
input,textarea{outline:none}
.text { border: 1px solid #ddd; height: 18px; line-height: 18px; }
.textarea { border: 1px solid #ddd; background: #ffffff; }
.button { background: #666; border: 1px solid #ddd; height: 20px; padding: 1px 10px 3px; color: #fff; }
.checkbox, .radio { border-width: 0px; }
.select { border: 1px solid #ddd; height: 20px; background: #fff; }
/* structure */
#container { width: 978px; margin: 0 auto 10px; border:1px solid #ddd;background:#fcfcfc;clear: both;overflow:hidden;}
#header .hd { width: 980px; margin: 0 auto; position: relative; z-index: 10;clear: both;}
#topbar { height: 32px; line-height: 32px;border-bottom:1px solid #A6D3E8;background:#00aadd;color:#fff;overflow:hidden;}
#topbar .share { float:left; width:490px; overflow:hidden;padding-left:20px;background:url(star.png) no-repeat 0 8px;}
#topbar .share em{float:left;}
#topbar .usercss{float:right;padding-right:10px;}
#topbar .usercss a{color:#fff;}
#bdshare{padding:3px 0 0 0;float:right;}
#headbar{ height:90px;}
.logo, .searchwrap, #head-plus { position: absolute; }
.logo { width: 210px; height: 60px; top: 18px; left: 0; }
.logo a { display: block; height: 60px; text-indent: -999em; overflow: hidden; background: url(logo.png) no-repeat; }
.searchwrap { top: 28px; left: 260px; width: 420px; height: 36px; }
.search-text, .search-submit { float: left; overflow: hidden; }
.search-text{ width: 296px; padding-left: 10px; height: 32px; line-height: 32px; border: 2px solid #00aadd;}
.search-submit{ width: 102px; height: 36px; margin-left: 8px; font-size: 14px; cursor: pointer;}
#footer {border-top: 2px solid #2d2d2d;background: #ececec;line-height: 24px;text-align: center;padding:10px 0 30px;color:#999;clear:both;}
#content { width: 720px; min-height:380px;border-right:1px solid #ddd;float: left; overflow:hidden;}
#sidebar { width: 257px; float: right; overflow:hidden; }
#page #main{}
#page #content{width:777px;min-height:1700px;background:#fff;}
#page #sidebar{width:200px;}
.inner{clear:both;overflow:hidden;}
#sidebar .inner{background:#fcfcfc;}
.details {padding:0 15px;}
.inner-pl {border-top:1px solid #ddd;padding:10px 15px;}
#page .inner-pl {border-top:none;}
.crumbs { width: 968px; margin: 0 auto 5px; border:1px solid #ddd;background:#fcfcfc;height: 30px; line-height: 30px; padding: 0 5px; color: #bbb; overflow: hidden; }
.crumbs .fr a{margin:0 10px;}
/*title*/
.title { height: 37px; line-height: 36px; border-bottom: 1px solid #eee; background-color: #fcfcfc;font-size: 14px; font-weight: bold; padding: 0 15px;}
.title h4, .title i { float: left; }
.title i { color: gray; }
#sidebar .title{height:37px;line-height:36px;border-bottom:1px solid #eee;background:#fcfcfc;color:#00aadd;}
#sidebar .inner-line .title{border-top:1px solid #ddd;}
#content .inner-line .title{border-top:1px solid #ddd;}
.xb{border-bottom:1px solid #ddd;}
.xt{border-top:1px solid #ddd;}
 .t1,.t2,.t3{color:#00aadd;}
/*list*/
.item-list li,#sidebar ul li {height: 32px; line-height: 32px; border-top:1px dotted #ddd;color:gray; overflow: hidden; white-space: nowrap; }
.item-list li i{margin-right: 7px;font-style: italic;font-weight: bold;}
.item-list span { float: right; margin-left: 5px; color: gray; }
.item-img { width: 306px; padding: 8px 10px 8px 0; height: 139px; float: left; overflow: hidden; }
.item-img img { float: left; width: 108px; height: 133px; padding: 2px; border: 1px solid #ddd; margin-right: 10px; display: inline; }
.item-img h5 { line-height: 25px; font-size: 14px; font-weight: bold; }
.item-img h5 a { color: #129151; }
.item-img p { margin-top: 3px; height: 80px; line-height: 20px; color: gray; overflow: hidden; }
.item-qb li { width: 20%; float: left; color: gray; line-height: 32px; border-bottom:1px dotted #ddd;overflow: hidden; white-space: nowrap; }
.item-fen {padding-bottom:7px;}
.item-fen li { width: 25%; float: left; color: gray; line-height: 24px; overflow: hidden; white-space: nowrap;}
.item-fen .item-img{width:335px;border-bottom:1px dotted #ddd;margin-bottom:5px;display:inline;}
.item-ten li { width: 50%; float: left; color: gray; line-height: 30px; overflow: hidden; white-space: nowrap; }
.item-ten li span { padding: 0 5px; float:right;}
.item-pic{height:135px;padding:10px;border-bottom:1px solid #eee;clear:both;overflow:hidden;}
.item-pic img { float: left; width: 100px; height: 125px; padding: 2px; border: 1px solid #ddd; margin-right: 10px; display: inline; }
.item-pic h3 { line-height: 25px; font-size: 14px; font-weight: bold; }
.item-pic h3 a { color: #ff5500; }
.item-pic p { line-height: 24px; color: gray; overflow: hidden; }
.item-pic p i{color:#333;}
.item-pic p a{color:#129151;}
.listsx { width: 978px; height:40px;line-height: 40px; background: #fff; border-bottom:1px solid #ddd;color:#999;overflow:hidden;white-space:nowrap;}
.listsx b {float:left;padding:0 20px;}
.listsx a { padding: 0 11px; font-size:14px;display:inlin-block;float:left;border-left:1px solid #ddd;}
.listsx a:hover{text-decoration: none;background:#f5f5f5;}
.toplist b{padding:0 21px;}
.toplist a{padding:0 8px;}
.item-top { height: 33px; line-height: 32px; color: gray; font-weight: bold; overflow: hidden; }
.item-con { height:100%; float: left; }
.item-con li{ float: left; width: 690px; height: 32px; line-height: 32px; border-top:1px dotted #ddd;clear: both; overflow: hidden; white-space: nowrap; }
.s1, .s2, .s3, .s4, .s5 { float: left; display: inline; overflow: hidden; white-space: nowrap; }
.s1 { width: 70px; }
.s2 { width: 390px; }
.s3 { width: 120px; }
.s4 { width: 60px; text-align: center; }
.s5 { width: 40px; padding-left: 10px; text-align: right; }
.s2 a { color:#129151; }
.s2 i a { font-size: 12px; color: gray; margin-left: 10px; }
.item-top .s1 { padding-left: 5px; width: 65px; }
.item-top .s5 { text-align: center; }
.item-con .s1, .item-con .s4, .item-con .s5 { color: gray; }
.item-index li { float: left; width: 335px; margin-right:10px;display:inline;height: 32px; line-height: 32px; border-top:1px dotted #ddd;color:#999; }
.item-index li.noxt{border-top:none;height:33px;}
.item-index li span{float:right;}
.item-index li em{float:left;width:280px;overflow:hidden;white-space:nowrap;}
.item-index li em a{color:#129151;}
.item-index li em i a{color:#333;}
.ten-info li{border-bottom:1px dotted #ddd;border-top:none;}
/*bookindex*/
.book-img { float: left; width: 200px; }
.book-img img { border: 1px solid #ddd; padding: 8px; width: 180px; height: 230px; }
.book-info { float: right; width: 480px; }
.book-stats, .pages-index { height: 32px; line-height: 32px; clear: both; }
.book-stats b { color: gray; }
.book-stats { border-bottom: 1px dashed #ddd; }
.book-intro { margin-top: 5px; height: 120px; line-height: 24px; color: gray; overflow-y: auto; }
.book-title { height: 40px; }
.book-title h1 { font-size: 30px; font-weight: bold; color: #129151; float: left; }
.book-title em { float: left; padding: 18px 0 0 20px; color: gray; }
.book-link { margin-top: 5px; }
.book-link a { text-align: center; display: inline-block; width: 100px; height: 30px; line-height:30px;background: #129151; float: left; margin-right: 18px; color: #fff; font-size: 14px; font-weight: bold; }
.book-link a.b-orange { background: #00aadd; }
.book-link a.b-gray { background: #ddd; color:#666;font-weight:normal;}
.book-link a:hover, .book-link a.b-orange:hover { background: #333; text-decoration: none; color:#fff;}
/*chapter*/
.bookinfo{padding: 15px;background:#fff;border-bottom:1px solid #ddd;text-align:center;}
.btitle h1 { font-size: 30px; font-weight: bold; color: #129151; float:left;}
.btitle em {padding: 18px 0 0 20px; color: #999; float:left;}
.stats{clear:both;line-height:32px;color:#999;border-top:1px dotted #ddd;}
.stats i{color:#333;margin-right:10px;}
.intro{clear:both;line-height:24px;text-align:left;color:#999;border-top:1px dotted #ddd;}
.chapterlist {padding: 15px; width:749px;clear: both; }
#main .chapterlist{width:948px;}
.chapterlist dt { width:100%;float:left;height: 37px; line-height: 36px; border-bottom: 1px solid #ddd;font-size: 14px; font-weight:bold;text-align:center;background:#f5f5f5;overflow:hidden;}
.chapterlist dd { width: 249px; height: 32px; line-height: 32px; float: left; border-bottom: 1px solid #eee; overflow: hidden; white-space:nowrap;}
.chapterlist a:visited{color:#0938F7}
#main .chapterlist dd{width:316px;;}
.notice { line-height: 24px; padding:10px 15px;color:#999;clear:both;}
.notice b { font-weight: bold; }
.notice a { color: #00aadd; margin: 0 2px; }
.nt{border-top:1px solid #ddd;}
.nt .details { line-height: 24px; padding:5px 15px;color:#999;clear:both;}
/*booktext*/
.bookset { border-bottom: 1px solid #ddd; padding: 5px 0; background: #fff; }
.article .inner{ background: #e7f4fe;}
.article h1 { height: 40px; line-height: 40px; font-size: 20px; font-weight: bold; text-align: center; padding-top: 20px; }
.article .link { border-top:1px dotted #ccc;text-align: center; line-height: 36px; color: gray; clear: both; }
.article .xb{border-bottom:1px dotted #ccc;border-top:none;}
.article .link a { margin: 0 10px; color: #129151; }
.article #BookText { clear: both; line-height: 150%; font-size: 20px; padding:5px 50px;font-family:"ËÎÌå",Arial,Helvetica; }


/* interface */

.jieqiQuote, .jieqiCode, .jieqiNote { border: #000000 1px solid; padding: 2px; font-size: 12px; color: #000000; background-color: #d3d2d2; }

.divbox { border: 1px solid #d3d2d2; margin-bottom: 3px; text-align: center; }

.textbox { border: 1px solid #d3d2d2; padding: 5px; margin: 3px; line-height: 150%; }

.popbox { position: absolute; width: 190px !important; height: 110px !important; width: 200px; height: 120px; border: 1px solid #d3d2d2; background: #f0f7ff; color: #ff0000; font-size: 12px; line-height: 120%; padding: 3px; display: none; z-index: 9999; }

.ajaxtip { position: absolute; border: 1px solid #d3d2d2; background: #f0f7ff; color: #ff0000; font-size: 12px; line-height: 120%; padding: 3px; z-index: 1000; }

#tips { border: 1px solid #d3d2d2; padding: 3px; display: none; background: #f0f7ff; position: absolute; z-index: 2000; }

#dialog { position: absolute; top: 0px; left: 0px; border: 5px solid #8bcee4; background: #f1f5fa; font-size: 12px; line-height: 120%; padding: 20px 10px 10px 10px; visibility: hidden; }

#mask { position: absolute; top: 0px; left: 0px; background: #777777; filter: Alpha(opacity=30); opacity: 0.3; }

.c_navigation { }
.c_title { width: 100%; text-align: center; font-weight: bold; font-size: 16px; line-height: 200%; border-bottom: 1px solid #C8D4E1; }
.c_bt { border-top: 1px solid #C8D4E1; }
.c_head { line-height: 150%; }
.c_content { padding: 10px 20px; font-size: 14px; line-height: 200%; }
.c_foot { line-height: 150%; list-style: none; }
.c_label { font-weight: bold; }
.c_value { }

.c_row { }
.c_subject { }
.c_tag { }
.c_description { }
.c_note { }


/* attention */

.hottext, a.hottext { color: #ff0000; }
.poptext, a.poptext { color: #ff0000; }
.notetext, a.notetext { color: #1979cc; }
.errortext, a.errortext { color: #ff0000; }

a.btnlink, a.btnlink:visited { color: #000000; background: #ddf2ff; border: 1px solid #d3d2d2; height: 20px; padding: 2px 10px 0px 10px; }
a.btnlink:hover { background: #C8D4E1ccc; }


/* interface */

.jieqiQuote, .jieqiCode, .jieqiNote { border: #000000 1px solid; padding: 2px; font-size: 12px; color: #000000; background-color: #d3d2d2; }

.divbox { border: 1px solid #d3d2d2; margin-bottom: 3px; text-align: center; }

.textbox { border: 1px solid #d3d2d2; padding: 5px; margin: 3px; line-height: 150%; }

.popbox { position: absolute; width: 190px !important; height: 110px !important; width: 200px; height: 120px; border: 1px solid #d3d2d2; background: #f0f7ff; color: #ff0000; font-size: 12px; line-height: 120%; padding: 3px; display: none; z-index: 9999; }

.ajaxtip { position: absolute; border: 1px solid #d3d2d2; background: #f0f7ff; color: #ff0000; font-size: 12px; line-height: 120%; padding: 3px; z-index: 1000; }

#tips { border: 1px solid #d3d2d2; padding: 3px; display: none; background: #f0f7ff; position: absolute; z-index: 2000; }

#dialog { position: absolute; top: 0px; left: 0px; border: 5px solid #8bcee4; background: #f1f5fa; font-size: 12px; line-height: 120%; padding: 20px 10px 10px 10px; visibility: hidden; }

#mask { position: absolute; top: 0px; left: 0px; background: #777777; filter: Alpha(opacity=30); opacity: 0.3; }

.tablist ul { height: 25px; margin: 0px 0px 0px 10px; padding: 0px; }
.tablist li { float: left; height: 24px; list-style: none; margin-right: 3px; }
.tablist li a { float: left; height: 24px; line-height: 24px; padding: 0px 10px; display: block; background: #f0f7ff; text-decoration: none; color: #000000; border: 1px solid #d3d2d2; border-bottom: none; }
.tablist li a.selected { background: #ffffff; height: 25px; position: relative; margin-bottom: -1px; }
.tabcontent { clear: both; border: 1px solid #d3d2d2; padding: 10px; }

.pages { padding: 10px 0px; border-top:1px dotted #ddd;font-size: 14px; clear: both; }
.pagelink { float: right; line-height: 20px; padding: 0; }
.pagelink a, .pagelink strong, .pagelink em, .pagelink kbd, .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup { float: left; padding: 0 6px; margin: 0 4px; }
.pagelink a:hover { color: #129151; }
.pagelink strong { font-weight: bold; color: #fff; background: #149b57; }
.pagelink kbd { height: 24px; border: none; }
.pagelink em { height: 24px; color: #129151; margin-right: 8px; }
.pagelink input { color: #129151; margin-top: 1px; height: 14px; }

img.avatar { border: 0px; }
img.avatars { width: 48px; height: 48px; background: url("avatars_bg.gif") right bottom; padding: 3px 7px 7px 3px; cursor: pointer; }
img.avatari { width: 16px; height: 16px; border: 1px solid #C8D4E1ccc; margin-bottom: -3px; }

a.message { background: url("aicons.gif") 0px 0px no-repeat; padding-left: 16px; }
a.parlor { background: url("aicons.gif") 0px -16px no-repeat; padding-left: 16px; }
a.friend { background: url("aicons.gif") 0px -34px no-repeat; padding-left: 16px; }
a.bookcase { background: url("aicons.gif") 0px -54px no-repeat; padding-left: 16px; }
a.group { background: url("aicons.gif") 0px -73px no-repeat; padding-left: 16px; }
a.space { background: url("aicons.gif") 0px -94px no-repeat; padding-left: 16px; }
a.userinfo { background: url("aicons.gif") 0px -113px no-repeat; padding-left: 16px; }
a.logout { background: url("aicons.gif") 0px -133px no-repeat; padding-left: 16px; }

/*msg*/
.msgBox { width: 500px; background: #fff; margin: 0 auto; text-align: center; border-radius: 5px; box-shadow: 0 0 10px 10px rgba(0,0,0,0.25); font: 12px/1.6em "Microsoft YaHei" ,Arial,sans-serif; }
.msgBox h6 { font-size: 25px; font-weight: normal; background: #149b57; color: #fff; padding: 15px 0; border-top-right-radius: 5px; border-top-left-radius: 5px; }
.msgBox ul { padding: 20px; font-size: 14px; line-height: 185%; }
.msgBox ol { padding: 10px; }
.msgBox dl { border-top: 1px dashed #ddd; padding: 5px; font-size: 12px; }

/*login*/
.webLogin {min-height: 400px; _height: 350px; }
.webLogin h2 { font-size: 20px; font-weight: normal; background: #129151; padding: 10px; color: #fff; }
.webLogin h2 strong { font-size: 30px; font-weight: normal; margin: 0 5px 0 0; }
.webLogin form { float: left; width: 600px; padding: 40px 20px; }
.webLogin form.reg { padding: 20px; }
.webLogin form table { width: 100%; }
.webLogin form table tr th { text-align: right; padding: 5px 0; font-weight: normal; }
.webLogin form table tr td { padding: 5px 0; }
.webLogin form table tr td input.textInput { float: left; border: 1px solid #d7d7d7; height: 30px; line-height: 30px; padding: 0 5px; width: 300px; margin: 0 5px 0 0; }
.webLogin form table tr td select { float: left; border: 1px solid #d7d7d7; height: 30px; line-height: 30px; margin: 0 5px 0 0; }
.webLogin form table tr td i.hottext { margin: 5px 0 0 5px; color: #999; font-style: normal; }
.webLogin form table tr td label { margin: 0 10px 0 0; }
.webLogin form table tr td span { margin: 5px 0 0 5px; color: #c00; }
.webLogin form table tr td button { margin: 10px 0 0 0; font-size: 18px; height: 45px; line-height: 45px; border: 0; background: #ff5500; color: #fff; cursor: pointer; padding: 0 12px; }
.webLogin form table tr td button:hover { background: #333; }
.webLogin form table tr td a.clew { margin: 0 0 0 10px; }
.webLogin ul { float: right; width: 240px; margin: -30px 50px 0 0; _margin: -30px 20px 0 0; color: #000; background: #f4f4f4; border: 1px solid #fff; _border-right: 5px solid #dad9d9; _border-bottom: 5px solid #dad9d9; box-shadow: 0 0 10px 2px rgba(0,0,0,0.5); }
.webLogin ul h4 { font-size: 16px; border-bottom: 1px solid #dad9d9; padding: 16px; }
.webLogin ul p { padding: 15px; }
.webLogin ul ol { margin: 0 15px 20px 15px; line-height: 195%; text-align: center; }
.webLogin ul ol li { text-align: left; }
.webLogin ul ol a:link, .webLogin ul ol a:visited, .webLogin ul ol a:hover { text-decoration: none; font-size: 16px; background: #ff5500; color: #fff; padding: 2px 10px; display: block; width: 70px; }
.webLogin ul ol a:hover { background: #333; color: #fff; text-decoration: underline; }
.webLogin form table tr td .button { margin: 10px 0 0 0; font-size: 18px; height: 45px; line-height: 45px; border: 0; background: #ff5500; color: #fff; cursor: pointer; padding: 0 12px; }
.webLogin form table tr td .button:hover { background: #333; }

#back-to-top { position: fixed; right: 20px; bottom: 200px; display: none; z-index: 999999; }
#back-to-top a { width: 50px; height: 50px; display: block; overflow: hidden; text-indent: -999px; background: url(back-to-top.gif) 0 0 no-repeat #2d2d2d; border-radius: 25px; }
#back-to-top a:hover { background-position: -50px 0; background-color: #00aadd; }


#head-plus { height: 80px; top:10px; right:0; }
#head-plus li { width: 48px; height: 48px; float: left; text-align: center; padding: 13px 0 0 3px; overflow: hidden; }
#head-plus li a { width: 46px; height: 26px; padding: 10px 0; overflow: hidden; display: block; color: #666; line-height: 14px; background-color: #eee; border: 1px solid #e7e7e7; border-radius: 25px; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
#head-plus li a:hover { color: #fff; text-decoration: none; border-color: #00aadd; background: url(navbar-bg.gif) 0 0 repeat-x #ff9e13; }
#head-plus .ui-icon { width: 32px; height: 32px; margin: 2px 9px 6px 9px; display: none; }

.error { margin-bottom:10px; padding: 32px; }
.error h1 { font-weight: bold; font-size: 14px; padding-bottom: 20px; color: #00aadd; }
.error h2 {font-weight: bold; padding:0 0 8px; margin: 0px 0px 8px; text-transform: uppercase; color: #999;  border-bottom: 1px solid #ddd; }
.error p { padding: 6px 0; }
.error a { color: #129151; }

.not{padding:5px 10px;line-height:24px;font-family:"ËÎÌå",Arial,Helvetica;color:#666;}
.un-side{text-align:center;padding:10px 0;}
.bd980{width:978px;height:90px;background:#eeeaeb url(bd-bg.gif) no-repeat right top;overflow:hidden;}
.bd300{width:640px;margin:0 auto;}
.hd300 span{float:left;width:320px;overflow:hidden;}
.g_logobar .hot{ margin-top:8px; padding:0px 3px; width:471px; height:15px; line-height:15px; overflow:hidden;}
.w980 .g_logobar .hot{ width:403px; height:15px; overflow:hidden;}
#link { width: 978px; margin: 0 auto 10px; border:1px solid #ddd;background:#fcfcfc;clear: both;overflow:hidden;}
.links{clear:both;overflow:hidden;}
.linktitle { height: 37px; line-height: 36px; border-bottom: 1px solid #eee; background-color: #fcfcfc;font-size: 14px; font-weight: bold; padding: 0 15px;}
.linkde {padding:0 15px;}
.yq li { width: 10%; float: left; color: gray; line-height: 25px; border-bottom:1px dotted #ddd;overflow: hidden; white-space: nowrap; }